
#home-hero-top { display: grid;z-index: 99;grid-template-columns:repeat(5, 1fr);position: relative;}
.cta-section{text-align:center;}
.cta-section h3{color:$darkGreyColor; font-size: 2em;}
.cta-section h4{color:$darkGreyColor; font-size:1.25em; font-weight: 400;}
h5.cta-button {color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.25em .75em; margin:1em 0;
-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
}
h5.cta-button a{color:$whiteColor;}
h5.cta-button:hover {color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.5em 1em; margin:.75em 0;
	transition:all .25s ease-in-out 0s;}

h5.top-cta-button {font-size:1.15em;text-align: center;margin:1.25em 0;}
h5.top-cta-button a {  color: $whiteColor;background: $hubRedColor;  padding: .5em 1em;margin: .75em .25em; -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; transition: all .25s ease-in-out 0s;font-weight:400; }
h5.top-cta-button a:hover {color: #ffffff;background: $hubRedColor;padding: 1em 1.05em;margin: .75em 0;transition: all .25s ease-in-out 0s; }

.home-hero-content{display: grid; grid-column: 2 / 3;grid-row-start: 1; align-content: start;margin:10% 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:2.5% 1em 0 1em;position:relative;position: absolute; top:0;}
.home-hero-text-section{ }
#home-hero-top img{width: 100%;display: grid; grid-column: 1 / 6;grid-row-start: 1; align-content: start;} 
.home-hero-content h1{color:$darkGreyColor; font-size:2em;font-family:$nunitoFont;margin:0;font-weight: 600;color:$redColor;}
.home-hero-content h2{color:$darkGreyColor; font-size:1.5em;font-family:$nunitoFont;line-height: 1.1em; font-weight: 400;margin-bottom:-.5em;}
.home-hero-content p{color:$darkGreyColor; font-size:1.25em;font-family:$nunitoFont; font-weight: 400;margin-bottom:.5em;}
.home-cta-text li {margin-bottom: 0;}

@media (max-width:1600px){ 
#home-hero-top { display: grid;z-index: 99;grid-template-columns:repeat(6, 1fr);position: relative;}
#home-hero-top img{width: 100%;display: grid; grid-column: 1 / 7;grid-row-start: 1; align-content: start;} 

.home-hero-content{display: grid; grid-column: 2 / 4;grid-row-start: 1; align-content: start;margin:0 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:0 1em 0 1em;position:relative;position: absolute; top:0;}


.home-hero-content p:first-of-type{margin-top:.75em;}
}

@media (max-width:1200px){ 
#home-hero-top { display: grid;z-index: 99;grid-template-columns:repeat(7, 1fr);position: relative;}
#home-hero-top img{width: 100%;display: grid; grid-column: 1 / 8;grid-row-start: 1; align-content: start;} 
.home-hero-content{display: grid; grid-column: 2 / 5;grid-row-start: 1; align-content: start;margin:0 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:0 1em 0 1em;position:relative;position: absolute; top:0;}
	}	

@media (max-width:1000px){ 
.home-hero-content{display: grid; grid-column: 1 / 5;grid-row-start: 1; align-content: start;margin:0 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:0 1em 0 1em;position:relative;position: absolute; top:0;}
.home-hero-content h1{font-size:1.5em;font-family:$nunitoFont;margin:0;font-weight: 600;color:$redColor;}
.home-hero-content h2{font-size:1.15em;font-family:$nunitoFont;line-height: 1.1em; font-weight: 400;margin-bottom:-.5em;}
.home-hero-content p{font-size:1em;font-family:$nunitoFont; font-weight: 400;margin-bottom:.5em;}

}	

@media (max-width:900px){ 
.home-hero-content{display: grid; grid-column: 1 / 6;grid-row-start: 1; align-content: start;margin:0 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:0 1em 0 1em;position:relative;position: absolute; top:0;}
}

@media (max-width:825px){ 
.page-template-page-home #primary {padding: 0;}

 .home-hero-content{display: grid; grid-column: 1 / 7;grid-row-start: 1; align-content: start;margin:0 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:0 1em 0 1em;position:relative;position: absolute; top:0;}
.home-hero-content h1{font-size:1.25em;font-family:$nunitoFont;margin:0;font-weight: 600;color:$redColor;}
.home-hero-content h2{font-size:1.05em;font-family:$nunitoFont;line-height: 1.1em; font-weight: 400;margin-bottom:-.5em;}
.home-hero-content p, .home-hero-content li{font-size:.9em;font-family:$nunitoFont; font-weight: 400;margin-bottom:.5em;}
h5.top-cta-button {font-size:1em;text-align: center;margin:.75em 0;}
}	
@media (max-width:725px){ 
.home-hero-content h1{font-size:1.05em;font-family:$nunitoFont;margin:0;font-weight: 600;color:$redColor;}
.home-hero-content h2{font-size:.9em;font-family:$nunitoFont;line-height: 1.1em; font-weight: 400;margin-bottom:-.5em;}
.home-hero-content p, .home-hero-content li{font-size:.75em;font-family:$nunitoFont; font-weight: 400;margin-bottom:.5em;}
h5.top-cta-button {font-size:.9em;text-align: center;margin:.75em 0;}
	}

@media (max-width:600px){ 
.home-hero-content h1, .home-hero-content h2{text-align: center;}	
.home-hero-content p, .home-hero-content li{margin-bottom:0;}	
 .home-hero-content{grid-column: 1 / 8; margin:0; padding:0; width:100%;}

}
@media (max-width:500px){ 
 .home-cta-text{visibility:collapse; height: 0px;}
}		

@media (max-width:400px){ 
.home-hero-content h1{font-size:.85em;font-family:$nunitoFont;margin:0;font-weight: 600;color:$redColor;}
 .home-hero-content h2{visibility:collapse; height: 0px;}
 h5.top-cta-button {font-size:.85em;text-align: center;margin:.5em 0;}
  }
@media (max-width:325px){ 
 
}  