/*-----------Forms----------------------*/

button, input[type="button"], input[type="reset"], input[type="submit"]{color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.5em 1em; margin:1em 0; -webkit-border-radius: 20px 20px 20px 20px;border-radius: 20px 20px 20px 20px; transition:all .25s ease-in-out 0s;}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{ border-color:$greyColor $greyColor $greyColor $greyColor;  background:$whiteColor;  color:$darkBrownColor}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, 
input[type="submit"]:active{ border-color:$greyColor $greyColor $greyColor $greyColor;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea{ color:#666;  border:1px solid $darkBrownColor;}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{ color:#111}
/*--- forcing the form submit button to be smaller --*/
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="submit"], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type="submit"] { font-size: 1.25em!important;}
