$blueButtonColor:#078dc8;
$regimentGreyColor:#4e4f51;
$hubGreyColor:#f2f3f6;
$hubRedColor:#be0d19;

$titleBlueColor:#008cc1;
$titleGreyColor:#4e4f51;

	$blackColor: #000000;
	$whiteColor:#ffffff;

	$lightGreyColor:#e5e5e5;
	$greyColor:#898787;
	$darkGreyColor:#333333;

	$goldColor: #ffcc00;/*-- actually yellow */

	$redColor:#b12328;
$darkerRedColor:#d30019;

	$lightBlueColor:#05b9fc;	
	$blueColor: #006699;/*#1349ad*/
$darkBlueColor:#001f30;

	$lightGreenColor:#05c3af;
$greenColor:#298934;
	$darkGreenColor:#405b24;

$darkBrownColor:#322215;




$nunitoFont: 'Nunito','Open Sans',Arial,Tahoma,Verdana ;

$opensansFont:'Open Sans','Nunito',Arial,Tahoma,Verdana ;

$futuraFont:futura-pt,Arial,Tahoma,Verdana;

$defaultFont:'Nunito',Arial,Tahoma,Verdana ;

$serifFont:Georgia,Times,Times New Roman,serif;

$titleFont:'Nunito',Arial,Tahoma,Verdana ;

$nerdFont:"Courier 10 Pitch",Courier,monospace;

/*--- THESE ARE THE COLORS FOR THE CUSTOM BLOCK COLOR OPTIONS REFERENCED IN THE FUNCTIONS FILE ----*/
.has-pdog-red-color { color: #b12328; }
.has-pdog-red-background-color { background-color: #b12328; }

.has-pdog-yellow-color { color: #ffcc00; }
.has-pdog-yellow-background-color { background-color: #ffcc00; }

.has-pdog-blue-color { color: #006699; }
.has-pdog-blue-background-color { background-color: #006699; }

.has-pdog-orange-color { color: #ff8400; }
.has-pdog-orange-background-color { background-color: #ff8400; }

.has-pdog-light-grey-color { color: #e5e5e5; }
.has-pdog-light-grey-background-color { background-color: #e5e5e5; }

.has-pdog-grey-color { color: #898787; }
.has-pdog-grey-background-color { background-color: #898787; }

.has-pdog-dark-grey-color { color: #333333; }
.has-pdog-dark-grey-background-color { background-color: #333333; }

.has-pdog-light-blue-color { color: #05b9fc; }
.has-pdog-light-blue-background-color { background-color: #05b9fc; }

.has-pdog-dark-green-color { color: #405b24; }
.has-pdog-dark-green-background-color { background-color: #405b24; }

.has-pdog-light-green-color { color: #05c3af; }
.has-pdog-light-green-background-color { background-color: #05c3af; }

.has-pdog-black-color { color: #000000; }
.has-pdog-black-background-color { background-color: #000000; }

.has-pdog-white-color { color: #ffffff; }
.has-pdog-white-background-color { background-color: #ffffff; }

/*-- CLASSES FOR USE IN GUTENBERG EDITOR ---*/
.onebump{padding:0 1em;}
.twobump{padding:0 2em;}
.threebump{padding:0 3em;}
.fourbump{padding:0 4em;}
.fivebump{padding:0 5em;}
.contain-me-please{max-width:1200px; margin:0 auto;}


.news-item{}
.news-item hr {background-color: $blackColor!important;height: 1px;}
.news-item img {border-radius: 50%;width:90%;margin:0 5%;}
.news-item-background {width:100%;padding: 0 0 1em 0;background-image: url("./images/pdog-dot.jpg"); background-repeat: repeat-y;background-position: center;}

.four-point-image{position: relative;z-index: 999;}
.four-point-text{padding:6em 1em 1em 1em;position: relative;z-index: 99; top:-5em;min-height:19.5em;}

.four-point-container{position:relative!important;}
.four-point-container p{font-size: 1em;}

.savingsbox{min-height:23.5em;}
.savingsbox p{margin-bottom:.5em;}
.blaclblock p{margin:0;}

.phoneinfobox{min-height:180px;margin-left:12px;}
.thankyoufoot{min-height:180px;border-left:solid .25em $blackColor;border-right:solid .25em $blackColor;padding:0 0 0 1.5em;}
@media (max-width:1200px){ 
.contain-me-please{margin:0 1em;}
}
@media (max-width:1100px){
.four-point-text{padding:6em 1em 1em 1em;position: relative;z-index: 99; top:-4em;min-height:25em;}
} 

@media (max-width:780px){ 

.mobile-center{text-align:center;}
.four-point-text p{margin-left:15em;}

.four-point-text{padding:6em 1em 1em 1em;position: relative;z-index: 99; top:-6em;min-height:10em;}

.wp-block-column:nth-child(2n) {
    margin-left: 0;
}
.phoneinfobox .wp-block-image .alignright {
    float: right;
    margin-left: 1em;
    margin-top: -5em;
    margin-right: -2.5em;
    padding-right: 0;
}


}

.quote-indent{margin:-1.5em 0 1.5em 5%;}

/*--- GUTENBERG OVER RIDES ---*/
.wp-block-columns {margin-bottom: 0;}
.wp-block-image {margin-bottom: -.5em;}

.wp-block-pullquote p {line-height: 1.1;margin-bottom: .5em;}
